/* ***********************************************
---STYLING FOR VANILLA FOURM-MOONSHINE THEME------
**************************************************/


/* ==================================================
   PRIMARY COLORS:
   Green color #00796B
   Yellow color #FFCA28
   Black color #000000
   White color #ffffff

   SECONDARY COLORS
   light-green #B2DFDB
   lightest-greeen #00BFA5
   grey shading color #e6e6e6
================================================== */


/* ==================================================
  Google font import
================================================== */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


/* ==================================================
  Global varibles
================================================== */
h1, h2, h3, h4, h5, h6{
    font-family: 'Comfortaa', roboto;
    font-weight: bold;
}
::placeholder{
  font-family: 'Comfortaa', roboto;
}
body{
  font-family: 'Comfortaa', roboto;
  background-color: #f2f2f2;
}

/* ==================================================
  Nav Bar styling
================================================== */
 #Head{
  background-color:#00796B;
  border-bottom: 4px solid #FFCA28;
  color: #ffffff;
  box-shadow: 2px 5px 7px #9E9E9E;
}
#Head a {
    color:  #FFCA28;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

#Head a:hover{
    color: #ffffff;
}

#Head .SiteTitle a {
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Comfortaa', fantasy;
    text-shadow: 1px 1px #000;

}

/* ==================================================
   Monshine logo
================================================== */
#logo{
  width:80px;
  margin-bottom: -8px;
}
/* ==================================================
  Navbar ul styling
================================================== */

.SiteSearch .InputBox, .SiteSearch .Button{
  border-radius: 5px;
  margin-top: 50px;
  padding:7px;
}

.SiteSearch .InputBox:focus{
  background-color:#B2DFDB;

}

.signinout{
  float: right;
  padding-right:5px;
}

.SiteMenu{
  float:right;
  margin-top: 55px;
}


/* ==================================================
  Breadcrum menu
================================================== */
.BreadcrumbsWrapper{
  margin-top: 10px;
}
.BreadcrumbsWrapper .Breadcrumbs span{
  font-size: 15px;
   color: #00796B;
}
.BreadcrumbsWrapper .Breadcrumbs span:hover{
  color:#00BFA5;
}

/* ==================================================
  User profile menu styling
================================================== */
.MeBox{
 background-color:#00796B;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 2px 5px 7px #9E9E9E;
}

.MeBox > a,
.MeBox .WhoIs a.Username{
  color:#ffffff;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.MeBox > a:hover,
.MeBox .WhoIs a.Username:hover{
  color:#FFCA28;
}

.MeBox .PhotoWrap img{
  border-radius: 5px;
}
.MeBox .MeMenu .ToggleFlyout > a{
  background-color:#e6e6e6;
  border-radius: 5px;
  padding-top:4px;
  padding-bottom:5px;
  margin-left: 3px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;

}
.MeBox .MeMenu .ToggleFlyout > a:hover{
      background-color:#FFCA28;
}
/* Me box pop down menu styling */
.MeBox .MeMenu .ToggleFlyout .Flyout ul li a{
  color:#00796B;
}
.MeBox .MeMenu .ToggleFlyout .Flyout ul li a:hover{
  color:#00BFA5;
}

.MeBox .MeMenu .Open .MenuItems li a{
  background-color:#ffffff;
}

.MeBox .MeMenu .Open .MenuItems li a:hover{
  background-color: #B2DFDB !important;
  color:#000000 !important;
}

/* ==================================================
  New discussion button
================================================== */
.BigButton{
  border-radius: 5px;
  background-color: #00796B;
  color:#ffffff;
  box-shadow: 2px 5px 7px #9E9E9E;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.BigButton:hover{
  color:#FFCA28;
  background-color: #00695C;
}


/* ==================================================
   Side menu--styling Categorys/recent discuss/activity/My discuss
================================================== */
.BoxFilter,
.Box.BoxCategories/* styling for catergorie list */{
  background-color:#fff;
  border-radius: 5px;
  border: 2px solid #00796B;
  text-align: center;
  box-shadow: 2px 5px 7px #9E9E9E;
}
.FilterMenu li,
.Box.BoxCategories li{
  color:#FFCA28;
  background-color: #ffffff;
}
.FilterMenu li:hover,
.Box.BoxCategories li:hover{
  background-color: #B2DFDB;
}
.FilterMenu a,
.Box.BoxCategories a{
  color:#000000;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
/* styling for active setting */
#Panel .FilterMenu .Active,
.Box.BoxCategories .ClearFix.Depth1.Active{
  color:#ffffff;
  background-color: #00796B;
}

#Panel .FilterMenu .Active a,
.Box.BoxCategories .ClearFix.Depth1.Active a{
  color:#FFCA28;
  background-color: #00796B;
}

#Panel .FilterMenu .Active a:hover,
.Box.BoxCategories .ClearFix.Depth1.Active a:hover{
  color:#FFCA28;
  background-color: #00796B;
}
/* ==================================================
   Category menu(followed categories)
================================================== */
.CategoryFilter{
  background-color:#fff;
  border-radius: 5px;
  border: 2px solid #00796B;
  text-align: center;
  box-shadow: 2px 5px 7px #9E9E9E;
}
  .CategoryFilter a{
    color:#00796B;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
  }
  .CategoryFilter a:hover{
    color:#00BFA5;
}

.CategoryFilterTitle,
.CategoryFilterOptions{
  color:#000000;
}
/* ==================================================
   Categorys container--RightSide
================================================== */
/* Header for categories */
 .Column .H{
  background-color: #00796B;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 7px #9E9E9E;
}
/* Categorory divs */
.Column .DataList .Item{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 7px #9E9E9E;
  border: 2px solid #00796B;
}
/* forum Categorys headers */
.Column .DataList .Item .TitleWrap a{
  color: #ffffff;
  background-color: #00796B;
  margin-top: -15px;
  margin-left: -16px;
  margin-right:-16px;
  padding:5px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.Column .DataList .Item .TitleWrap a:hover{
  color: #FFCA28;
}

/* remove rss button */
.Column .DataList .Item .Meta img{
  display:none;
}
/* most recent by user */
.Meta .LastDiscussionTitle a{
  color:#00796B;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.Meta .LastDiscussionTitle a:hover{
  color:#00BFA5;
}

/* gear icon placement(only for root user) */
  ul li .Options .ToggleFlyout .OptionsTitle{
  margin-top: 5px;
  }
  /* ==================================================
     styling for user responses within a category
  ================================================== */
 .DataList .ItemContent .Title a{
   color:#00796B;
 }

 .DataList .ItemContent .Title a:hover{
   color:#00BFA5;
 }

 .DataList .ItemContent .Meta .Tag{
   color:#FFCA28;
   background-color:#00796B;
 }

 .DataList .ItemContent .Meta .MItem.LastCommentBy a{
   color: #00796B;
 }

 .DataList .ItemContent .Meta .MItem.LastCommentBy a:hover{
   color: #00BFA5;
 }

 .DataList span.Options .ToggleFlyout .OptionsTitle{
   margin-top: 0px;
 }

 /* ==================================================
    styling for leaving a comment to a user response within a category
 ================================================== */

 .MessageList .PageTitle{
   background-color:#B2DFDB;
   padding: 5px;
   border-radius: 5px;
 }

 .MessageList .Item .Discussion{
   background-color: #e6e6e6;
   padding: 5px;
   border-radius: 5px;
 }
